---
import PunchCard from '../PunchCard.astro';
import { compileProgram } from '../../pcob/compile';
import aboutmeSource from '../../content/_punchcard/aboutme.pcob?raw';

const compiled = compileProgram(aboutmeSource);
const aboutmeSection = compiled.sections.find(s => s.id === 'aboutme')!;
const cardByName = (name: string) => aboutmeSection.cards.find(c => c.name === name)!;
const workNowCard      = cardByName('WORK-NOW');
const workBfreCard     = cardByName('WORK-BFRE');
const studiesCard      = cardByName('STUDIES');
const prgLanguagesCard = cardByName('PRG-LANGUAGES');
const vocLanguagesCard = cardByName('VOC-LANGUAGES');

const CARD_COUNT = 5;
---
<section id="aboutme">
    <div class="section-scroll-container" style={`height: ${CARD_COUNT * 88}vh;`}>
        <div class="section-content-wrapper">
            <div class="pcf-stage-multi">
                <PunchCard
                    noStage={true}
                    programName="SSCHW-DEV"
                    programmerName="SEBASTIAN SCHWINN"
                    currentSystem="RETROCODE GMBH"
                    identificationHref="#impressum"
                    lines={workNowCard.lines}
                    callLinks={workNowCard.callLinks}
                />
                <PunchCard
                    noStage={true}
                    programName="SSCHW-DEV"
                    programmerName="SEBASTIAN SCHWINN"
                    currentSystem="RETROCODE GMBH"
                    identificationHref="#impressum"
                    lines={workBfreCard.lines}
                    callLinks={workBfreCard.callLinks}
                />
                <PunchCard
                    noStage={true}
                    programName="SSCHW-DEV"
                    programmerName="SEBASTIAN SCHWINN"
                    currentSystem="RETROCODE GMBH"
                    identificationHref="#impressum"
                    lines={studiesCard.lines}
                    callLinks={studiesCard.callLinks}
                />
                <PunchCard
                    noStage={true}
                    programName="SSCHW-DEV"
                    programmerName="SEBASTIAN SCHWINN"
                    currentSystem="RETROCODE GMBH"
                    identificationHref="#impressum"
                    lines={prgLanguagesCard.lines}
                    callLinks={prgLanguagesCard.callLinks}
                />
                <PunchCard
                    noStage={true}
                    programName="SSCHW-DEV"
                    programmerName="SEBASTIAN SCHWINN"
                    currentSystem="RETROCODE GMBH"
                    identificationHref="#impressum"
                    lines={vocLanguagesCard.lines}
                    callLinks={vocLanguagesCard.callLinks}
                />
            </div>
        </div>
    </div>
</section>

<script>
import { setupMultiCardSection } from '../../scripts/multiCardSection.ts';

setupMultiCardSection('aboutme');

export function statemachineAboutMeRun() {}
(window as any).__aboutMeRun = statemachineAboutMeRun;
</script>
